/* 헤더설정 */
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

.header-center {
    justify-self: center;
    text-align: center;
}

.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.back-space {
    background-color: #f3f3f3;
    border: none;
    font-size: 20px;
}

/* 가로 구분선 */
.horizon-line {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 10px auto 50px;
}

.profile-list {
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.detail-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-right: 5px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #C4C4C4;
}

.author-info {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.writer-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-right: 10px;
}

.comment-author-info {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.comment-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #C4C4C4;
    margin-right: 10px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #ccc;
}

/* 바디 설정 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    overflow-y: scroll;
}


.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/* 상세 게시글 컨테이너 */
.detail-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.detail-horizen {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

/* 게시글 제목 */
.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 작성자 및 날짜 */
.post-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.post-author {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.post-date {
    font-size: 12px;
    padding-top: 2px;
    color: #000000;
    white-space: nowrap;
}

.post-content {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.post-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}

.pop-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.like-button,
.view-button,
.comment-button {
    font-weight: bold;
    background-color: #d4d4d4;
    font-size: 20px;
    width: 115px;
    height: 70px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.like-button span,
.view-button span,
.comment-button span {
    font-size: 14px;
    margin-top: 5px;
}

.post-edit-button,
.post-delete-button {
    color: black;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.post-edit-button:hover,
.post-delete-button:hover {
    background-color: #7F6AEE;
}

.post-actions-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.post-actions-buttons button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.post-actions-buttons button:hover {
    background-color: #7F6AEE;
    color: white;
}

.comment-input-card {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-input-card textarea {
    width: 100%;
    max-width: 100%;
    height: 80px;
    padding: 10px;
    border: none;
    font-size: 14px;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.comment-input-button {
    background-color: #ACA0EB;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
    width: 125px;
}

.comment-input-button:hover {
    background-color: #7F6AEE;
}

.comment-item {
    padding: 10px;
    border-radius: 8px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-author-name {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}

.comment-date {
    font-size: 12px;
    padding-top: 2px;
    color: #000000;
    white-space: nowrap;
}

.comment-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 100%;
}

.comment-edit-button,
.comment-delete-button {
    background-color: transparent;
    border: 1px solid #ACA0EB;
    color: #000000;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

.comment-edit-button:hover,
.comment-delete-button:hover {
    background-color: #ACA0EB;
    color: white;
}

.comment-body {
    margin-top: 5px;
}

.comment-content {
    font-size: 14px;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-delete-text {
    font-weight: bold;
}

.modal-comment-delete-text {
    font-weight: bold;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-cancel-button {
    margin-right: 10px;
    padding: 5px 25px;
    color: white;
    border: 1px solid #7F6AEE;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}

.modal-post-button-confirm {
    padding: 5px 25px;
    border: 1px solid #7F6AEE;
    background-color: #7F6AEE;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.modal-comment-button-confirm {
    padding: 5px 25px;
    border: 1px solid #7F6AEE;
    background-color: #7F6AEE;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}