/* 헤더설정 */
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

.header-center {
    justify-self: center;
    text-align: center;
}

.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.horizon-line {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 10px auto 50px;
}

/*바디*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    overflow-y: scroll;
}

.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

/*로그인 컨테이너*/

.login-container {
    width: 410px;
    margin: 0 auto;
}

.login-text {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}


.email-text,
.password-text {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    border-color: #ACA0EB;
    outline: none;
}

.helper-text {
    visibility: hidden;
    color: red;
    font-size: 0.9em;
    height: 30px;
    line-height: 20px;
    margin-top: 0;
}

.login-button {
    width: 100%;
    height: 45px;
    border: none;
    font-size: 1.0em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #ACA0EB;
    color: white;
}


.login-button:hover {
    background-color: #7F6AEE;
}

.signup-text {
    text-align: center;
    font-size: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}