/* 헤더설정 */
.header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.header-left {
    width: 24px;
    justify-self: start;
    margin-right: 150px;
}

.header-center {
    justify-self: center;
    text-align: center;
}

.header-right {
    width: 24px;
    justify-self: end;
    margin-left: 150px;
    position: relative;
}

.back-space {
    background-color: #f3f3f3;
    border: none;
    font-size: 20px;
}

.horizon-line {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000000;
    margin: 10px auto 50px;
}

.profile-list {
    position: relative;
    justify-content: flex-end;
    align-items: center;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #C4C4C4;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 120px;
    right: 0;
    background-color: #e0e0e0;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #ccc;
}
