/*바디*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    overflow-y: scroll;
}

.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.list-container {
    width: 600px;
    margin: 0 auto;
}

.welcome-list-text {
    text-align: center;
    font-size: 24px;
}

.upload-button-location {
    display: flex;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.upload-button {
    width: 115px;
    height: 40px;
    background-color: #ACA0EB;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

.post {
    background-color: #f9f9f9;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.post-card-container {
    margin-bottom: 15px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.post-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.post-info {
    font-size: 14px;
    color: #555;
    display: inline-block;
}

.post-date {
    font-size: 14px;
    color: black;
}

.post-card-line {
    width: 100%;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.post-author {
    font-size: 14px;
    color: #444;
}


.author-info {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.writer-profile-image{
    margin-right : 10px;
    background-color: #C4C4C4;
}